<div class="main_component">
    <div class="div-flex">
        <h1>Profil törlése</h1>
        <div><img class="kep" src="https://static.vecteezy.com/system/resources/previews/005/129/844/non_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" alt=""></div>
        <span class="buttons">
      <button mat-raised-button color="primary" matTooltip="Vigyázat! Ezzel véglegesen kitörlődik a fiókod." (click)="onDelete()" type="button">Törlés</button>
    </span>
    </div>
</div>
