<div class="main_component" *ngIf="loading">
    <span class="flex">
        <mat-spinner></mat-spinner>
        <br>
        <p>Hamarosan átirányítunk...</p>
    </span>
</div>
<div class="main_component" *ngIf="notloading">
  <h1>Bejelentkezés</h1>
  <mat-form-field>
    <mat-label for="email">Email:</mat-label>
    <input matInput type="text" [formControl]="email"
           placeholder="email@example.com">
  </mat-form-field>
  <mat-form-field>
      <mat-label for="password">Password:</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password"/>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
  </mat-form-field>
  <span>
        <span>
            <button mat-raised-button color="primary" (click)="login()">Bejelentkezés</button>
        </span>
    </span>
</div>
