<div class="main_component">
  <h1>Elérhetőségek</h1>
  <mat-card>
    <mat-card-content><p><mat-icon aria-hidden="false" aria-label="haz" fontIcon="home"></mat-icon></p>
      <p>6134 Kömpöc, Petőfi Sándor utca 99.</p></mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-content><h3>Nyitvatartás</h3>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Hétfő:</span>
          <span matListItemLine> 11:00 – 18:00</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span matListItemTitle>Kedd</span>
          <span matListItemLine> 11:00 – 18:00</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span matListItemTitle>Szerda</span>
          <span matListItemLine> 11:00 – 18:00</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span matListItemTitle>Csütörtök</span>
          <span matListItemLine> 11:00 – 18:00</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span matListItemTitle>Péntek</span>
          <span matListItemLine> 11:00 – 18:00</span>
        </mat-list-item>
      </mat-list></mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content><p><mat-icon aria-hidden="false" aria-label="phone" fontIcon="phone"></mat-icon></p>
      <p>+36/30-999888777</p></mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-content><p><mat-icon aria-hidden="false" aria-label="phone" fontIcon="mail"></mat-icon></p>
      <p>textil&#64;shop.com</p></mat-card-content>
  </mat-card>
</div>
